:root {
    --text:#484848;
    --primarC:#FF8541;
    --footerBg: #EEE3D8;
    --wh:rgb(255, 255, 255);
    --zamBg: rgba(255, 137, 70, 0.72);
}



.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    background-color: var(--primarC);
}
.menu__links {
    display: flex;
    gap: 1em;
    text-decoration: none;
    list-style-type: none;
}
.menu_link:hover {
    transform: scale(1.1);
    transition: .2s;
}
.menu__link {
    transition: .2s;
}

.btn {
    display: inline-block;
    border: 2px solid var(--primarC);
    border-radius: 2em;
    padding: 0.5em 1em;
    color: var(--primarC);
    font-weight: 600;
}
.btn--uvod {
    color: var(--wh);
    border: 2px solid var(--wh);
    position: absolute;
    left: 1em;
    bottom: 1em;
}
.btn--c {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn--f {
    color: var(--wh);
    border: 2px solid var(--wh);
}
.btn:hover {
    background-color: var(--primarC);
    color: var(--wh);
}
.btn--f:hover {
    color: var(--primarC);
    background-color: var(--wh);
}

.img-responsive {
    display: block;
    width: 100%;
}

.socky {
    position: absolute;
    right: 0.5em;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3em;
    
}
.socky__item:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.socky__item {
    transition: 0.1s;
}

main, section {
    margin: 0 2em;
    margin-bottom: 5em;
}

.uvod {
    background-image: url(../img/masaz_liberec.webp); /*krit*/
    background-size: cover;
    padding-top: 1em;
    position: relative;
}
.uvod__text {
    margin-left: 1em;
    margin-top: 2em;
}

.nabidka__item {
    display: block;
    position: relative;
    margin: 0;
    overflow: hidden;
    margin-bottom: 1em;
    max-width: 500px;
}
.item__text {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: max-content;
    color: var(--wh);
    font-size: 22px;
    transition: .1s;
    padding: 0;
}
figure {
    margin: 0;
}
.nabidka__item:hover .item__text {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: .3s;
}
.nabidka__item .item__image:hover {
    transform: scale(1.1);
    transition: 1.5s;
}
.item__image {
    transition: 1s;
}


footer {
    background-color: var(--footerBg);
    padding: 1em;
}
.Finfo {
    display: flex;
    justify-content: space-between;
}
.Finfo__text {
    display: flex;
    align-items: center;
}
.Finfo__text::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_mail.svg);
    background-repeat: no-repeat;
    margin-right: 0.3em;
    background-position-y: 2px;
}
.Finfo__text--phone::before {
    background-image: url(../img/icon_phone.svg);
    background-position-y: 0;
}
.Finfo__text--adres::before {
    background-image: url(../img/icon_adres.svg);
    width: 15px;
    height: 19px;
    background-position-y: 0;
}
.footer__paticka {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--text);
}
.paticka__wrapper {
    display: flex;
    gap: 10px;
}
.footer__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*KONTAKT*/
.kontakt {
    margin-bottom: 1em;
}
.kontakt__otviracka {
    margin-left: 2em;
}
.kontakt__otviracka::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon_time.svg);
    background-repeat: no-repeat;
    margin-left: -2.3em;
    margin-bottom: -2.5em;
}

/*O NAS*/
.card {
    position: relative;
    max-width: 400px;
    margin-bottom: 1em;
}
.card__text {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
    width: 12em;
    background-color: var(--zamBg);
    color: var(--wh);
    padding: 1em;
    
}

/*MASAZ*/

.cenik {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.ucinky {
    padding-left: 0.5em;
    margin-top: 0;
}
.ucinky_ucinek {
    list-style-position: inside;
    list-style-image: url(../img/kriz.svg);
    margin-bottom: 0.2em;
}
.cenik__cena {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-weight: 500;
}
