
.uvod {
    height: 55vw;
}
.nabidka__item {
    left: 50%;
    transform: translate(-50%, 0);
}

.footer__logo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.socky--kontakt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    position: absolute;
    bottom: -2.5em;
    right: 0;
}
.kontakt__wrapper {
    margin-bottom: 2em;
}
.h1-hp {
    font-size: 32px;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: fit-content;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}


@media (min-width: 600px) {
    .uvod {
        height: 40vw;
    }
    .nabidka__item {
        left: 0;
        transform: translate( 0, 0);
    }
    .nabidka__wraper {
        display: flex;
        gap: 1em;
        justify-content: center;
    }

    .footer__logo {
        left: 50%;
        top: -7em;
    }

    .kontakt {
        display: flex;
        justify-content: center;
        gap: 1em;
        width: fit-content;
        position: relative;
    }
    .kontakt__wrapper {
        flex-basis: 220px;
    }
    .kontakt__img {
        max-width: 500px;
        min-width: 300px;
        flex-basis: 300px;
        flex-grow: 1;
    }

    .cards__wrapper {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 900px) {
    .uvod {
        height: 35vw;
    }
    .h1-hp {
        font-size: 64px;
    }

    .masaz__wrapper {
        display: flex;
        gap: 2em;
    }
    .masaz__text {
        flex-basis: 500px;
        flex-grow: 1;
    }
    .masaz__img {
        flex-basis: 400px;
        flex-grow: 1;
        min-width: 400px;
    }
    footer {
        padding: 1em 3em;
    }
}


@media (min-width: 1280px) {
    .uvod {
        height: 25vw;
        background-position-y: -15em;
    }
    .nabidka {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 1em;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


