:root {
    --text:#484848;
    --primarC:#FF8541;
    --wh:rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
}

h1, h2, h3 {
    text-align: center;
    color: var(--primarC);
}
.h1-hp { /*krit*/
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    color: var(--wh);
}
.h2--mas, .h3--mas {
    text-align: left;
    margin-bottom: 0.5em;
}

.menu_link a {
    font-size: 17px;
    font-weight: 700;
    color: var(--wh);
}

.uvod__slogan {   /*krit*/
    color: var(--wh);
    margin: 0;
    margin-top: 0.2em;
}

.item__nadpis {
    color: var(--wh);
    font-size: 22px;
    margin: 0;
}

footer p {
    font-size: 14px;
}
.Finfo__title {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.kontak__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    margin-top: 0;
    margin-bottom: 0.5em;
}

.card__name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.3em;
}
.card__zamereni {
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0.3em;
}
.card__praxe {
    font-weight: 300;
    font-size: 12px;
    margin: 0;
}